{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Introduce tu Nueva Contraseña</h3>
                </div>
                <div class="card-body">
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            Este enlace para restablecer la contraseña no es válido, probablemente porque ya ha sido utilizado o ha expirado. Por favor, solicita un nuevo restablecimiento de contraseña.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
