{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Cambiar mi Contraseña</h3>
                </div>
                <div class="card-body">
                    <p>Por favor, introduce tu contraseña antigua, y luego tu nueva contraseña dos veces.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
