{% extends "base.html" %}

{% block title %}Correo Enviado{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Correo Enviado!</h4>
        <p>Te hemos enviado un correo con las instrucciones para restablecer tu contraseña. Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
        <hr>
        <p class="mb-0">Si el correo electrónico que proporcionaste está asociado a una cuenta, recibirás el enlace.</p>
    </div>
</div>
{% endblock %}
